[Desktop Entry]
Name[bs]=Dia
Name[ca]=Dia
Name[ca@valencia]=Dia
Name[cs]=Dia
Name[da]=Dia
Name[de]=Dia
Name[el]=Dia
Name[en_GB]=Dia
Name[eo]=Dia
Name[es]=Dia
Name[eu]=Dia
Name[fa]=دیا
Name[gl]=Dia
Name[he]=‏Dia
Name[hr]=Dia
Name[hu]=Dia
Name[id]=Dia
Name[is]=Dia
Name[lt]=Dia
Name[lv]=Dia
Name[nb]=Dia
Name[oc]=Dia
Name[pa]=ਡਾਈ
Name[pl]=Dia
Name[pt]=Dia
Name[pt_BR]=Dia
Name[ro]=Dia
Name[ru]=Dia
Name[sl]=Dia
Name[sr]=Диа
Name[sr@latin]=Dia
Name[sv]=Dia
Name[tr]=Dia
Name[uk]=Діа
Name[zh_CN]=Dia
Name[zh_HK]=Dia
Name[zh_TW]=Dia
Name=Dia
GenericName[ar]=محرّر المخطّط
GenericName[ast]=Editor de diagrames
GenericName[az]=Diaqramma editoru
GenericName[be]=Рэдактар дыяграмы
GenericName[bg]=Редактор на диаграми
GenericName[bs]=Uređivač Dijagrama
GenericName[ca]=Editor de diagrames
GenericName[ca@valencia]=Editor de diagrames
GenericName[cs]=Editor diagramu
GenericName[da]=Diagramtegner
GenericName[de]=Diagrammeditor
GenericName[dz]=བཀོད་རིས་ཞུན་དགཔ་
GenericName[el]=Επεξεργαστής διαγραμμάτων
GenericName[en_CA]=Diagram Editor
GenericName[en_GB]=Diagram Editor
GenericName[es]=Editor de diagramas
GenericName[eu]=Diagrama-editorea
GenericName[fi]=Kaaviomuokkain
GenericName[ga]=Eagarthóir Léireíd
GenericName[gl]=Editor de diagramas
GenericName[gu]=આકૃતિ સંપાદક
GenericName[he]=עורך תרשימים
GenericName[hr]=Uređivač diagrama
GenericName[hu]=Diagramszerkesztő
GenericName[id]=Penyunting Diagram
GenericName[ja]=ダイアグラムエディター
GenericName[ko]=도표 편집기
GenericName[lt]=Diagramų redaktorius
GenericName[lv]=Diagrammu redaktors
GenericName[mk]=Уредувач на дијаграми
GenericName[ms]=Editor Diagram
GenericName[nb]=Diagramredigering
GenericName[ne]=चित्र सम्पादक
GenericName[nl]=Diagram Bewerken
GenericName[nn]=Diagramredigering
GenericName[oc]=Editor de diagramas
GenericName[pa]=ਡਾਈਗਰਾਮ ਸੋਧਕ
GenericName[pl]=Edytor diagramów
GenericName[pt]=Editor de diagramas
GenericName[pt_BR]=Editor de diagramas
GenericName[ro]=Editor de diagrame
GenericName[ru]=Редактор диаграмм Dia
GenericName[sk]=Editor diagramov
GenericName[sl]=Urejevalnik diagrama
GenericName[sr]=Уређиваћ дијаграма
GenericName[sr@latin]=Uređivać dijagrama
GenericName[sv]=Diagramredigerare
GenericName[tr]=Diyagram Düzenleyici
GenericName[uk]=Редактор діаграм
GenericName[vi]=Bộ biên soạn sơ đồ
GenericName[zh_CN]=图表编辑器
GenericName[zh_HK]=圖表編輯
GenericName[zh_TW]=圖表編輯
GenericName=Diagram Editor
Comment[ar]=حرّر مخطّطاتك
Comment[ast]=Edita los tos diagrames
Comment[bg]=Редактиране на диаграми
Comment[bs]=Uredite svoje dijagrame
Comment[ca]=Editeu els vostres diagrames
Comment[ca@valencia]=Editeu els vostres diagrames
Comment[cs]=Upravte své diagramy
Comment[da]=Redigér diagrammer
Comment[de]=Diagramme bearbeiten
Comment[dz]=ཁྱོད་རའི་བཀོད་རིས་ ཞུན་དག་འབད་
Comment[el]=Επεξεργασία των διαγραμμάτων σας
Comment[en_CA]=Edit your Diagrams
Comment[en_GB]=Edit your Diagrams
Comment[eo]=Redakti vian diagramojn
Comment[es]=Edite sus diagramas
Comment[eu]=Editatu diagramak
Comment[fi]=Muokkaa kaavioitasi
Comment[gl]=Editar os teus diagramas
Comment[gu]=તમારી આકૃતિઓમાં ફેરફાર કરો
Comment[he]=עריכת התרשימים שלך
Comment[hu]=Diagramok szerkesztése
Comment[id]=Edit Diagram Anda
Comment[is]=Sýslaðu með flæðirit og skýringamyndir
Comment[ja]=ダイアグラムを編集します
Comment[ko]=도표 편집
Comment[lt]=Kurti diagramas
Comment[lv]=Rediģējiet savas diagrammas
Comment[nb]=Rediger dine diagrammer
Comment[ne]=तपाईँको चित्रहरू सम्पादन गर्नुहोस्
Comment[nl]=Diagrammen bewerken
Comment[oc]=Editar vòstres diagramas
Comment[pl]=Edycja diagramów
Comment[pt]=Edite os seus diagramas
Comment[pt_BR]=Edite os seus diagramas
Comment[ro]=Editați diagrama dumneavoastră
Comment[ru]=Создание и редактирование диаграмм
Comment[sk]=Upravovať vaše diagramy
Comment[sl]=Urejajte svoje diagrame
Comment[sr]=Уређујте ваше дијаграме
Comment[sr@latin]=Uređujte vaše dijagrame
Comment[sv]=Redigera dina diagram
Comment[th]=แก้ไขแผนภูมิของคุณ
Comment[tr]=Diyagramlarınızı Düzenleyin
Comment[uk]=Редагування Ваших діаграм
Comment[vi]=Hiệu chỉnh sơ đồ
Comment[zh_CN]=编辑您的图表
Comment[zh_HK]=編輯你的圖表
Comment[zh_TW]=編輯您的圖表
Comment=Edit your Diagrams
Type=Application
Exec=dia %F
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Dia
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true
MimeType=application/x-dia-diagram;
Keywords=graphic;diagram;vector;layout;
